PROJECT_NAME="NEXUS VISION"
VERSION="0.5.1"
DEBUG=True
CAMERA_INDEX=0
TARGET_FPS=30

# Coloca tu clave gratuita de Google AI Studio aquí para activar la IA Generativa Completa con Visión Real:
# Obtén tu clave gratis en: https://aistudio.google.com/app/apikey
GEMINI_API_KEY=""
AI_MODEL_NAME="gemini-1.5-flash"
